Foo<script type="text/x-handlebars" id="site/_view">
  <h1>{{name}}</h1>
  <h4>by {{author}} <small class="muted">({{date createdAt}})</small></h4>
  <hr>
  <div>
     <a {{bindAttr href="landing_url"}}><img {{bindAttr src="img_url"}}></a>
  </div>
</script>
